.headerContainer{
  position: sticky;
  top: 0;
  background: linear-gradient(90deg, rgba(149, 137, 0, 1) 0%, rgba(249, 255, 0, 1) 35%, rgba(231, 232, 131, 1) 100%);
  border-bottom: 1px solid white;
  z-index: 1;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 20px;
    font-size: 24px;
    .citiesBtn{
      background: transparent;
      border: none;
      font-size: 16px;
      cursor: pointer;
      &:after{
        content: "";
        margin:0 0.5em;
        display:inline-block;
        border: 7px solid transparent;
        border-top:8px solid black;
        border-bottom:0 none;
      }
    }
    h4 {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  .availableCities {
    position: relative;
  }
  .cityList {
    position: absolute;
    right: 0;
    width: 200px;
    background-color: white;
    border: 1px dotted;
    color: black;
  }
  .cityItem{
    cursor: pointer;
    padding: 10px;
    border-top: 1px dotted;
    font-size: 16px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      margin-right: 8px;
      font-size: 12px;
    }
    &.selected::before{
      content: '\2713';
    }
  }
}